.Weather {
    background-color:#faf5e4;
    color: #2c786c;
    border: 2px solid;
    font-family: 'Pacifico', cursive;
    margin: 30px auto;
    max-width: 750px;
    border-radius: 4px;
}

.Weather h1 {
    padding-top: 15px;
    padding-bottom: 45px;
    color:#004445;
    display: block;
    font-size: 45px;
    font-weight: 100;
    height: 28px;
    line-height: 29px;
    margin: 20px 0 0 0 ;

}

.Weather ul {
    text-align: justify;
    margin: 0;
} 


.Weather li {
    padding-bottom: 28px;
    font-size: 18px;
    font-weight: 200;
    height: 18px;
    line-height: 18px;
    text-align: left;
    list-style: none;
}

.Weather form {
    margin: 20x;
    padding-top: 10px;
    padding-left: 8px;
} 

.Weather .temperature {
    font-size: 64px;
    line-height: 64px;
    font-weight:400;
} 

.Weather img {
    height: 64px;
    margin-right: 10px;
    display: inline-block;
    
} 

.Weather .unit {
    font-size: 16px;
    position: relative;
    line-height: 1;
    top: -32px;
    
}

.Weather .btn {
    background-color: #f8b400 !important;
}